* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    min-height: 100vh;
    background-color: var(--primary-bg);
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}